/**/bin
/**/obj
/**/build
/**/__history

*.db
*.suo
*.local
*.txt
*.stat
*.identcache
*.user
*.opendb
/.NET/App/c\#/.vs/DroneRemoteID/FileContentIndex
.NET/App/c\#/.vs/DroneRemoteID/v17/DocumentLayout.backup.json
/.NET/App/vb.net/.vs/DroneRemoteID/FileContentIndex
.NET/App/vb.net/.vs/DroneRemoteID/v17/DocumentLayout.backup.json
/C++/App/.vs/DroneRemoteId/FileContentIndex
C++/App/.vs/DroneRemoteId/v17/DocumentLayout.backup.json
